@model IEnumerable<UserRoleViewModel2>
@using System.Globalization;
@{
    ViewData["Title"] = "Edit User/Role/Access";
    TextInfo textInfo = new CultureInfo("en-US",false).TextInfo;    
}
@{
    Layout = null;
}
<h2>Access List</h2>

<div class="row">
    <div class="col-md-10">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Level)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Geography)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Roles)
                    </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(m => user.Level)</td>
                    <td>@Html.DisplayFor(m => user.Geography)</td>
                    <td>@Html.DisplayFor(m => user.UserName)</td>
                    <td>@Html.DisplayFor(m => user.Name)</td>
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            <span>@Html.DisplayFor(m => role) | </span>
                        }
                    </td>                
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.UserId">Edit Role</a>
                    </td>
                    <td>
                        <a asp-controller="Account" asp-action="Edit" asp-route-id="@user.UserId">Edit User</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>